* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url(https://png.pngtree.com/background/20210710/original/pngtree-gradient-bubble-background-picture-image_980057.jpg);
  background-size: cover;
}

nav {
  display: flex;
  gap: 20px;
  align-items: center;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.container {
  width: 1100px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12vh;
  animation: anim3 3s;
  img {
    width: 100px;
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

.hero {
  display: flex;
  align-items: center;
  height: 88vh;
  justify-content: space-between;

  .box {
    width: 45%;
    animation: anim1 3s;
    h1 {
      color: #fff;
      font-size: 80px;
    }

    p {
      color: #fff;
      font-size: 16px;
    }

    .buttons {
      display: flex;
      gap: 50px;
      align-items: center;
      margin-top: 50px;

      button {
        border-radius: 30px;
        padding: 10px 20px;
        outline: none;
        border: none;
      }

      :nth-child(1) {
        background-color: #000;
        color: #fff;
      }

      :nth-child(2) {
        background-color: rgba(212, 172, 179, 0.692);
        color: #fff;
      }
    }
  }

  img {
    width: 40%;
    transform: rotate(-18deg);
transform: rotate(-18deg);
    animation: anim2 3s;
  }
}

body {
  overflow-x: hidden;
}

@keyframes anim1 {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes anim2 {
  0% {
    transform: translateX(150%) rotate(0deg);
    
  }
  100% {
    transform:translateX(0%) rotate(-18deg) ;
  }
}

@keyframes anim3 {
  0% {
    transform: translatey(-150%);
  }
  100% {
    transform: translatey(0%);
  }
}